@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #084625;
}

.step-component {
  position: relative;
  overflow-y: auto;
  background-color: #fff;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for IE and Edge */
}

.step-component::-webkit-scrollbar {
  display: none; /* for Chrome and Safari */
}

@media (max-width: 767px) {
  .step-component {
    width: 100% !important;
  }
}